
.pseudobody{
    list-style: flex;
    display: flex;
    color: var(--dark-grey);
    width: 97%;
    margin: 1% 0 0 auto;
}

.header{
    position: static;
}

.motivation{
    font: 2.7rem 'Dancing';
    width: 80%;
    line-height: 3.5rem;
    font-weight: 700;
}
.main-left{
    width: 80%;
    margin-left: auto;
    /* border: 2px solid white; */
    font-family: 'Roboto';
}
.motto{
    display: flex;
    padding: 20px;
    margin-top: 2%;
}

.main-right{
    border-left: 0.5px solid rgb(114, 114, 114);
    font: 1.5rem 'Roboto';
    width: 19%;
}

.main-right h4{
    color: var(--light-red);
    text-align: center;
}

#stats-container{
    padding: 10px;
}
#stats-container p{
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--light-red);
}
#stats-container b{
    color: white;
    margin-left: 5%;
    font-size: 1.5rem;
}


#left p{
    margin-left: 2%;
    color: var(--dark-grey);
    width: 90%;
    
}

.m-left{
    width: 70%;
    padding: 10px;
}


.m-right{
    width: 30%;
}


.m-right img{
    width: 100%;
    margin: 15% 0 0 0;
    border: 2px solid grey;
    border-radius: 8px;
}

#mtext{
    color: var(--light-grey);
    font: 45px 'ops';
    margin-top: 5%;
}

#limg{
    width: 60%;
    border: 0;
}



.heading{
    font: 2.5rem 'Roboto';
    font-weight: 800;
    color: var(--light-red);
    
}

.container{
    /* border: 2px solid white; */
    margin-top: 5%;
}

.container p{
    width: 90%;
    font-weight: 500;
    margin-top: 2%;
    font-size: 1.5rem;
    line-height: 2rem;
}