.header{
    position: static;
}
.pseudobody{
    /* border: 2px solid white; */
    width: 96%;
}
.profile-card{
    background: #8080804c;
    width: 40%;
    font-weight: 900;
    color: var(--black);
    margin-left: 2%;
    margin-top: 2%;
    padding: 20px;
}
.profile-card h3{
    font: 1.7rem 'Roboto';
    font-weight: 700;
}

.profile-card p{
    font: 1.3rem 'Roboto';
    letter-spacing: 2px;
    margin: 1% 0 0 4%;
    font-weight: 900;
    color: var(--light-grey);
}
.mini-icon-1{
    margin-top: -4%;
    height: 20px;
    float: right;
}
.mini-icon{
    height: 12px;
}


.card{
    background: #8080804c;
    animation-delay: 2000;
    color: black;
    border-radius: 7px;
    width: 40%;
    margin: 2% 0 0 2%;
    padding: 10px;
    padding-bottom: 17px;
}
.card h4{
    margin-top: 0%;
    font: 25px 'secular';
    color: black;
}

.sub-card{
    display: flex;
    align-items: center;
    margin-left: 1.1%;
}
.mini-icon-1{
    margin-top: -4%;
    height: 20px;
    float: right;
}
.mini-icon{
    height: 12px;
}

.sub-card span{
    font: 12px 'Roboto';
    font-weight: 900;
}

.main-card {
    margin: 1% 0 0 1.1%;
}
.main-card p{
    font: 18px 'Roboto';
    font-weight: 900;
}
.main-card span{
    float: right;
    font-size: 12px;
}

#heading{
    font: 2.5rem 'Roboto';
font-weight: 800;
color: var(--light-red);
}

.sec{
    margin-top: 3%;
}

#zones{
    background: #8080804c;
    width: 40%;
    padding: 20px;
    border-radius: 2px;
    margin-top: 1%;
    /* padding: 10px; */
    margin-left: 2%;
    /* padding: 20px; */
}


.zone-loc{
    color: black;
    margin-top: 5px;
    padding: 5px 10px ;
    font: 25px 'Roboto';
}

.mini-icon-2{
    /* margin-top: -2%; */
    padding-left: 25px;
    height: 18px;
    float: right;
}