.profile-card{
    background: var(--dark-red);
    border-radius: 20px 35px 35px 20px;
    width: 40%;
    margin-left: 2%;
    padding: 10px;
}
.profile-card h3{
    font: 30px 'russo';
}

.profile-card p{
    font: 25px 'curly';
    letter-spacing: 2px;
    margin: 1% 0 0 4%;
    color: var(--light-grey);
}
.mini-icon-1{
    margin-top: -4%;
    height: 20px;
    float: right;
}
.mini-icon{
    height: 12px;
}


.card{
    background: var(--dark-grey);
    color: black;
    width: 50%;
    margin: 2% 0 0 2%;
    border: 2px solid white;
    border-radius: 20px 0 20px 0;
    padding: 10px;
    padding-bottom: 20px;
}
.card h4{
    margin-top: 0%;
    font: 25px 'secular';
    color: black;
}

.sub-card{
    display: flex;
    align-items: center;
    margin-left: 1.1%;
}
.mini-icon-1{
    margin-top: -4%;
    height: 20px;
    float: right;
}
.mini-icon{
    height: 12px;
}

.sub-card span{
    font: 12px 'Segoe Ui';
}

.main-card {
    margin: 1% 0 0 1.1%;
}
.main-card p{
    font: 18px 'rj-medium';
}
.main-card span{
    float: right;
    font-size: 12px;
}

#nn{
    font: 45px 'russo';
    margin: 2% 0 0 2%;
    padding-bottom: 10px;
    color: var(--light-red);
}

#zones{
    background: var(--light-grey);
    width: max-content;
    border-radius: 10px;
    margin-top: 1%;
    /* padding: 10px; */
    margin-left: 2%;
    /* padding: 20px; */
}


.zone-loc{
    color: black;
    margin-top: 5px;
    padding: 5px 10px ;
    font: 25px 'sync';
}

.mini-icon-2{
    /* margin-top: -2%; */
    padding-left: 25px;
    height: 18px;
    float: right;
}