.pseudobody {
  display: flex;
  color: var(--light-red);
}

.header {
  position: static;
}

/* MAIN BODY LEFT STYLING */
.main-left {
  border-left: 0.5px solid rgb(114, 114, 114);
  width: 85%;
}

.main-left h4 {
  font: 2rem "Roboto";
  margin-left: 2%;
  font-weight: 800;
}

#experience {
  background-color: var(--black);
  color: white;
  font: 1rem "Roboto";
  margin-top: 2%;
  width: 99%;
  border: 0px;
  resize: none;
  padding: 0.25rem 0.5rem;
  min-height: 7rem;
  /* border: 1px solid white; */
}

#experience:focus,
input:focus {
  outline: none;
  border: 0px;
}

.substory {
  /* border: 2px solid white; */
  border-top: 0.2px solid grey;
  padding: 5px;
  width: 98%;
  margin: 1% 0 0 1%;
  display: flex;
  justify-content: space-between;
}
#story span {
  margin: 3% 0 0 2%;
  font-size: 1.25rem;
}

.substory-1 {
  /* border: 2px solid yellow; */
  margin-left: 5%;
  margin-top: 1%;
  width: 40%;
}
#location:active {
  background-color: var(--light-red);
}
.substory-1 input {
  margin-top: 2%;
}

#date {
  background: var(--light-red);
  color: white;
  padding: 5px;
  outline: none;
  border: 0.2px solid black;
  margin: 2% 0 0 2%;
}

#location {
  width: 80%;
  height: 30px;
  background: var(--light-red);
  border: 1px solid black;
  color: white;
  padding: 5px;
  margin: 4% 0 0 2%;
}
#location::placeholder {
  color: white;
  font: 1rem "Roboto";
}

#story button {
  letter-spacing: 1px;
  font: 1rem "Roboto";
  border: 1px solid black;
  background: var(--dark-red);
  color: white;
  padding: 5px 17px;
  float: right;
  margin: 1% 2%;
}

.story-display {
  margin-top: 7%;
  /* border-top: 0.5px solid rgb(114, 114, 114); */
}
.story-display h4 {
  margin-top: 2%;
}

.card {
  background: rgba(228, 228, 228, 0.308);
  animation-delay: 2000;
  color: black;
  border-radius: 7px;
  width: 40%;
  margin: 2% 0 0 0%;
  padding: 10px;
  padding-bottom: 10px;
}
.card h4 {
  margin-top: 0%;
  font: 1.35rem "Roboto";
  font-weight: 600;
  color: black;
}

.sub-card {
  display: flex;
  align-items: center;
  margin-left: 0.3%;
  margin-top: 0.3%;
}
.mini-icon-1 {
  margin-top: -4%;
  height: 1.25rem;
  float: right;
}
.mini-icon {
  height: 0.75rem;
}

.sub-card span {
  font: 0.75rem "Patrick";
}

.main-card {
  border-top: 1px solid rgba(0, 0, 0, 0.366);
  margin: 1% 0 0 1.1%;
}
.main-card p {
  font: 1.1rem "Roboto";
  width: 95%;
  font-weight: 590;
  margin: 2% auto 0 auto;
  letter-spacing: 1px;
}
.main-card span {
  float: right;
  font: 0.75rem "Roboto";
  font-weight: 900;
}

/* MAIN BODY RIGHT STYLING */
.main-right {
  border-left: 0.5px solid rgb(114, 114, 114);
  font: 1.5rem "Roboto";
  margin-top: 1.6%;
}

.main-right h4 {
  color: var(--light-red);
  text-align: center;
  font-size: 1.35rem;
  margin-bottom: 2%;
}

#stats-container {
  padding: 5px;
}
#stats-container p {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--light-red);
}
#stats-container b {
  color: white;
  font-size: 1rem;
}

#story-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 5%;
}
.main-left hr {
  margin-top: 1%;
}

#quote2 {
  font: 3rem "Dancing";
  letter-spacing: 0.25rem;
  margin: 5% 0 2rem 0;
  text-align: center;
  color: var(--light-red);
  -webkit-text-stroke: 0.3px var(--light-grey);
}

@media screen and (max-width: 720px) {
  .pseudobody {
    flex-direction: column;
  }
  .main-left {
    width: 95%;
    margin-top: 5%;
    border: 0;
  }
  .main-left h4 {
    font-size: 1.25rem;
  }

  #story {
    margin: 3% auto 0 auto;
  }
  #experience {
    border: 1px solid var(--dark-grey);
  }
  hr {
    display: none;
  }
  .substory {
    flex-direction: column;
    width: 100%;
    border: 0;
    margin-top: 0;
  }

  #date {
    height: 1.5rem;
  }
  .substory-1 {
    width: 95%;
    margin-top: 3%;
  }
  #story span {
    font-size: 1rem;
  }
  #story button {
    font-size: 0.7rem;
  }
  .story-display {
    margin-top: 15%;
  }
  #location {
    height: 1.5rem;
    margin-top: 2%;
  }
  .card {
    width: 90%;
    margin-top: 5%;
  }
  .card h4 {
    font-size: 1.2rem;
  }
  .main-card p {
    font-size: 0.8rem;
    font-weight: 550;
  }
  .main-card span {
    font-size: 0.75rem;
    margin-top: 2%;
  }
  .main-card br {
    display: none;
  }

  .main-right {
    width: 90%;
    margin: 7% auto 2% auto;
    border: 0;
  }
  #quote2 {
    font-size: 1.5rem;
    margin-top: 7%;
  }
}
